node_modules
/dist
.dumi/tmp
.dumi/tmp-test
.dumi/tmp-production
.DS_Store
/docs-dist
vueuse
/temp
packages/**/es
packages/**/lib
**/es
**/lib
**/**/es
**/**/lib
/es
/lib
/.cache
**/demo
**/**/demo
pnpm-lock.yaml
