//git.jzxer.cn/api/packages/devlifestyle/npm/:_authToken=d2ae89a4b716fe92318e6a20c4f38f346e8fdc85
registry=https://registry.npmmirror.com/
@jzx:registry=https://git.jzxer.cn/api/packages/devlifestyle/npm/
